@charset "UTF-8";

/* 연예뉴스 css
 * 2012.01.19 / 김정윤 */

/* reset */
.frameBd {position:absolute; top:0; left:0; display:block; border:1px solid #000; filter:alpha(opacity=20); opacity:0.2; background:url('http://img.sbs.co.kr/s9/news/news_entertain/blank.gif') left top repeat;}

/* 연예뉴스 */
#entertain_left {width:714px; height:; float:left; position:relative; }
/* TOP TOPIC */
#entertain_left .top_topic {width:682px; height:200px; padding:19px 15px; border:1px solid #636363; background:#6f6f6f; overflow:hidden; z-index:1;}
#entertain_left .top_topic .tit_img {width:356px; float:left; position:relative; margin-right:15px;}
#entertain_left .top_topic .tit_img .frameBd {width:354px; height:198px;}
#entertain_left .top_topic .topic_cont {width:310px; float:right; font-color: red;}
#entertain_left .top_topic .topic_cont dl {margin-bottom:25px;}
#entertain_left .top_topic .topic_cont dl dt {letter-spacing:-4px;}
#entertain_left .top_topic .topic_cont dl dt a {color:#fff; line-height:20px; font:bold 27px Dotum, 돋움;}
#entertain_left .top_topic .topic_cont dl dt a:hover {color:#fff !important;}
#entertain_left .top_topic .topic_cont dl dd {margin-top:4px;}
#entertain_left .top_topic .topic_cont dl dd a {color:#cbcbcb; line-height:1.4; }
#entertain_left .top_topic .topic_cont dl dd a {color:#cbcbcb !important;}
#entertain_left .top_topic .topic_cont dl a:hover {text-decoration:underline;}
#entertain_left .top_topic .topic_cont ul {}
#entertain_left .top_topic .topic_cont ul li {width:290px; padding:0 0 0 8px; margin-bottom:5px; font-weight:bold; line-height:1.4; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#fff; background:url('http://img.sbs.co.kr/s9/news/news_entertain/dot_gray.gif') left 5px no-repeat;}
#entertain_left .top_topic .topic_cont ul li a {color:#fff;}
#entertain_left .top_topic .topic_cont ul li a:hover {color:#fff !important;}
#entertain_left .top_topic .icon_topic {position:absolute; left:0; top:0; z-index:99999;}

/* Tab List */
#entertain_left .tab_wrap {width:714px; overflow:hidden; padding:35px 0 0 0;}
#entertain_left .tab_wrap .entertain_tab {width:715px; height:36px; margin-left:-1px; background:url('http://img.sbs.co.kr/s9/news/news_entertain/bg_tab.gif') left top repeat-x;}
#entertain_left .tab_wrap .entertain_tab li {width:20%; text-align:center; float:left; position:relative; background:url('http://img.sbs.co.kr/s9/news/news_entertain/line.gif') left 8px no-repeat;}
#entertain_left .tab_wrap .entertain_tab li a {height:22px; padding:9px 0 0; display:block; color:#7e7e7e; font-weight:bold; }
#entertain_left .tab_wrap .entertain_tab li:hover, 
#entertain_left .tab_wrap .entertain_tab li.on {height:36px; display:block; position:relative; z-index:999999; margin-right:-1px; background:url('http://img.sbs.co.kr/s9/news/news_entertain/bg_tab_on.png') center bottom no-repeat;}
#entertain_left .tab_wrap .entertain_tab li:hover a, 
#entertain_left .tab_wrap .entertain_tab li.on a {color:#fff !important; display:block; background:#4792d4; text-decoration:none;}
#entertain_left .tab_wrap .entertain_tab li .hot {position:absolute; left:15px; top:-5px;}
#entertain_left .tab_wrap .tab_cont {width:712px; height:120px; border:1px solid #f2f2f2; border-width:0 1px 1px 1px; clear:both; position:relative; top:-5px; z-index:1; background:#f7f7f7;}
#entertain_left .tab_wrap .tab_cont:after {content:""; display:block; clear:both;}
#entertain_left .tab_wrap .tab_cont .thum_list {width:373px; padding:15px 0 0 12px; float:left;}
#entertain_left .tab_wrap .tab_cont .thum_list li {width:109px; margin-right:14px; text-align:center; float:left;}/*120203*/
#entertain_left .tab_wrap .tab_cont .thum_list li .tit_img {width:109px; height:62px; position:relative; text-align:center; overflow:hidden;}
#entertain_left .tab_wrap .tab_cont .thum_list li .tit_img img {max-height:62px;}
#entertain_left .tab_wrap .tab_cont .thum_list li .tit_img .frameBd {width:107px; height:60px;}
#entertain_left .tab_wrap .tab_cont .thum_list li p {height:27px; margin:7px 0 0 0; word-break:keep-all; overflow:hidden;}
#entertain_left .tab_wrap .tab_cont .thum_list li p a {font-size:11px; font-family:Dotum, 돋움; color:#626262; line-height:1.3;}
#entertain_left .tab_wrap .tab_cont .thum_list li p a:hover {color:#1d50a1; text-decoration:underline;}
#entertain_left .tab_wrap .tab_cont .txt_list {float:left; padding-top:20px;}
#entertain_left .tab_wrap .tab_cont .txt_list li {width:300px;  text-overflow:ellipsis; overflow:hidden; white-space:nowrap; padding:0 0 0 8px; margin-bottom:6px; background:url('http://img.sbs.co.kr/s9/news/news_entertain/dot_gray.gif') left 5px no-repeat;}
#entertain_left .tab_wrap .tab_cont .txt_list li a {color:#000;}
#entertain_left .tab_wrap .tab_cont .txt_list li a:hover {color:#1d50a1; text-decoration:underline;}

/* Issue List */
#entertain_left .issue_wrap {width:714px; overflow:hidden;}
#entertain_left .issue_wrap h3 {margin:30px 0 0; padding-bottom:5px; border-bottom:2px solid #1168c7;}
#entertain_left .issue_wrap .issue_list {width:770px; overflow:hidden;}
#entertain_left .issue_wrap .issue_list li {width:355px; padding-right:30px; float:left; margin-top:15px;}
#entertain_left .issue_wrap .issue_list li .tit_img {width:128px; height:72px; position:relative; margin-right:10px; text-align:center; float:left; overflow:hidden;}
#entertain_left .issue_wrap .issue_list li .tit_img img {max-height:72px;}
#entertain_left .issue_wrap .issue_list li .tit_img .frameBd{width:126px; height:70px;}
#entertain_left .issue_wrap .issue_list li p {width:190px; height:73px; overflow:hidden; float:left;}
#entertain_left .issue_wrap .issue_list li p strong, 
#entertain_left .issue_wrap .issue_list li p span {display:block;}
#entertain_left .issue_wrap .issue_list li p strong {color:#1d50a1;}
#entertain_left .issue_wrap .issue_list li p span {color:#585858; margin-top:11px;}
#entertain_left .issue_wrap .issue_list li a {line-height:1.3;}
#entertain_left .issue_wrap .issue_list li a:hover, 
#entertain_left .issue_wrap .issue_list li a:hover strong, 
#entertain_left .issue_wrap .issue_list li a:hover span {color:#1d50a1; text-decoration:underline;}

.btn_list {text-align:right; padding:30px 5px 0 0;}
.btn_list a {font-weight:bold; color:#6f6f6f; text-decoration:none;}

/* 연예뉴스 오른쪽 */
#entertain_right {width:240px; height:240px; padding-left:18px; margin-bottom:35px; float:right; background:url('http://img.sbs.co.kr/s9/news/news_entertain/line_dot.gif') left top repeat-y;}
#entertain_right dl {}
#entertain_right dl dt {width:240px; height:136px; position:relative;}
#entertain_right dl dt .frameBd {width:238px; height:134px;}
#entertain_right dl dd {width:240px; height:33px; padding-top:10px;  overflow:hidden; text-align:center; background:#5d5d5d;}
#entertain_right dl dd a {color:#fff; font:normal 11px Dotum, 돋움; letter-spacing:-1px;}
#entertain_right dl dd a:hover {color:#fff !important; text-decoration:none;}

#entertain_right ul {width:244px; overflow:hidden; margin-top:4px;}
#entertain_right ul li {width:57px; margin-right:4px; position:relative; float:left;}
#entertain_right ul li .frameBd {width:55px; height:55px;}
#entertain_right ul li.on a,
#entertain_right ul li a:hover {width:51px; height:51px; font-size:0; text-indent:-5000px; border:3px solid #4792d4; filter:alpha(opacity=100); opacity:1; }

















